.gif{
float:left;
padding: 1px 12px 10px 12px;
}
.userPick{
display: inline-block;

}

.gifBtn{
margin: 8px;  

}

/* body, html, .container-fluid {
    background-image: url("../spongebob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

p{
    text-align: center;
    
}



